body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(to right, #f8f9fa, #e0eafc);
}

/* HEADER */
header {
    background: linear-gradient(135deg, #111, #333);
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff9800;
}

/* MENU */
.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px;
}

.card {
    background: white;
    width: 260px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    text-align: center;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 10px 0;
    color: #333;
}

.card p {
    color: #777;
    margin-bottom: 15px;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
}

/* BUTTON */
.btn {
    background